/*General Styles*/

body{
    background-color: #F6F1F1; 
    color: #000000;
    font-family: 'Kreon', serif;
    min-height: 100vh;
}

h1{
    font-family: 'Heebo', sans-serif;
}

p{
    margin: 0;
}

/*Navbar*/

.navbar{
    background-color: #19A7CE;
}

nav div.icon{
    padding-left: 0.5%;
}

/*Main page content*/

.main-body{
    padding-bottom: 100px;
}

/*Footer*/

footer{
    background-color: #146C94;
    height: 30px;
    position: sticky; /*Sticky footer with top: 100% along with body */
    top: 100%;        /*min-height: 100vh; keeps footer at bottom of page*/   
}

footer > div.container{
    min-height: 100%;
}