/*General Styles*/

body{
    background-color: #F6F1F1; 
    color: #000000;
    font-family: 'Kreon', serif;
}

h1{
    font-family: 'Heebo', sans-serif;
}

p{
    margin: 0;
}

/*Navbar*/

.navbar{
    background-color: #19A7CE;
}

nav div.icon{
    padding-left: 0.5%;
}

/*Footer*/

footer{
    background-color: #146C94;
}